<a href="https://colab.research.google.com/github/251020903621-rgb/phantunglam/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [50]:
x = 100
print(x)

100

In [51]:
saving = 1000
factor = 1.1
result = saving * factor**15
print(result)

4177.248169415656

In [52]:
desc = "Data Science"
profitable = True

In [53]:
print(type(saving))

print(type(factor))

print(type(desc))

print(type(profitable))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [54]:
year1 = saving * factor
print(type(year1))


doubledesc = desc * 2
print(doubledesc)

<class 'float'>
Data ScienceData Science

In [55]:
print("ngan hang tra toi $" + str(saving) + ", sau 15 nam toi da co $" + str(result) + ". Tuyet voi!")
pi_string = "3.1415926"
pi_float = float(pi_string)

ngan hang tra toi $1000, sau 15 nam toi da co $4177.248169415656. Tuyet voi!

In [56]:
hall = 11.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50
areas = [hall, kit, liv, bed, bath]
print(areas)

[11.25, 18.0, 20.0, 10.75, 9.5]

In [57]:
hall = 11.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50
areas = [hall, kit, "living room", liv, bed, "bathroom", bath]
print(areas)

[11.25, 18.0, 'living room', 20.0, 10.75, 'bathroom', 9.5]

In [58]:
hall = 11.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50
house =[["hallway", hall],
        ["kitchen", kit],
        ["living room", liv]]
print(house)
print(type(house))

[['hallway', 11.25], ['kitchen', 18.0], ['living room', 20.0]]
<class 'list'>

In [59]:

areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]
print(areas[1])
print(areas[-1])
print(areas[5])

11.25
9.5
20.0

In [60]:
areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]
eat_sleep_areas= areas[3] + areas[-3]
print(eat_sleep_areas)

28.75

In [61]:
areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]
downstairs = areas[0:6]
upstairs = areas[6:-1]
print(downstairs)
print(upstairs)

['hallway', 11.25, 'kitchen', 18.0, 'living room', 20.0]
['bedroom', 10.75, 'bathroom']